body {
    background-color: rgb(46, 25, 41);
}
  
h1 {
    color: rgb(224, 0, 105);
    margin-left: 20px;
}

#my_title {
    color: brown;
    margin-left: 10%;
}

#button1 {
    color: rgb(0, 0, 0);
    background-color:linen;
    margin-left: 10%;
}

